section {
    padding-top: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 13px;
    -moz-osx-font-smoothing: grayscale;
}

footer .footer-above {
    padding-top: 50px;
    background-color: black;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #00ABDF;
    background: #fff;
    border: 2px solid #fff;
}

footer h3 {
    margin-bottom: 30px;
    color: #00ABDF;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

#mainNav .dropdown a, .dropdown a.active, .dropdown a:active, .dropdown a:focus, .dropdown a:hover {
	color: #00ABDF;
}

page-scroll active .dropdown a.active:HOVER {
	background: black;
	color: #00ABDF;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	}

#mainNav a.active, a:active, a:focus, a:hover {
    color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    color: black;
    background: transparent;
}

.navbar-custom {
    padding: 15px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-custom {
    background: #00ABDF;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

a, a.active, a:active, a:focus, a:hover {
    color: black;
}

.navbar-custom .navbar-nav li a:hover{color: black}
.navbar-toggle{
	color:#fff;text-transform:uppercase;font-size:10px;border-color:#fff;}
.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover{
	background-color:transparent;color:black;border-color:black;}
	