ul{
	list-style:none;
}
#introduce_home{
   margin-top:20px;
   width: 100%;
   height: 790px;
   /* background-color: #c3c3c3; */
}

#introduce_body2{
   float: left;
   font-size: 30px;
   background-color: black;
   color: greenyellow;
   width: 100%;
   padding: 30px;
}

#introduce_title {
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    font-family: °íµñ;
    font-size: 35px;
    background-color: gray;
}
#introduce_img{
	float:left;
	margin-left: 150px;
	width: 34%;
    margin-top: 80px;
}
#map{
	float: right;
    margin-top: 80px;
    margin-right: 100px;
    width: 40%;
}
